export LANDING_PORT=4000
export AUTH_PAGES_PORT=3001
export APP_PORT=3001
export EXAMPLE_BASIC_PORT=38110
export EXAMPLE_MULTI_ROOM_PORT=38120
export EXAMPLE_INTEROP_NOTES_PORT=38130
export EXAMPLE_INTEROP_FLASHCARDS_PORT=38140
export EWE_NOTE_PORT=5181
