name: build

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  # build:
  #   name: Tests
  #   runs-on: ubuntu-latest
  #   environment: preview
  #   env:
  #     VITE_CI: true

    # strategy:
    #   matrix:
    #     node-version: [18.14.0]

    # steps:
    #   - uses: actions/checkout@v3

    #   - name: Use Node.js ${{ matrix.node-version }}
    #     uses: actions/setup-node@v3
    #     with:
    #       node-version: ${{ matrix.node-version }}
    #       cache: 'npm'

    #   - name: Install Dependencies
    #     run: npm install && cd test-rpc-server && npm install

    #   - name: Build packages
    #     run: npm run build

    #   - name: Start and wait for webRTC server
    #     # the control operator & runs the first command in the background
    #     run: npm run start-test-rpc-server & npx wait-on http://localhost:4444

    #   - name: Run unit/integration tests
    #     run: npx lerna run test --scope @eweser/db

    #   - name: Run e2e tests on all examples
    #     uses: cypress-io/github-action@v5
    #     with:
    #       start: npm run run-example-previews
    #       browser: chrome
    #       wait-on: http://localhost:8000, http://localhost:8100, http://localhost:8300, http://localhost:8400, http://localhost:8500, http://localhost:8600
    #       wait-on-timeout: 180
